<html>
	<head>
		<title>SMS APPLICATION</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	</head>
	<body>

<style>
	body{
	background: url("https://maxcdn.icons8.com/app/uploads/2018/08/how-to-create-gradient-article.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	}
	.ui.icon.header .icon {
		margin-top: 20%;
	}
</style>

<h2 class="ui center aligned icon header">
  <i class="envelope icon"></i>
  SMS APP
	<div>
		    <a href="/form"><button class="ui secondary basic button">Go IN</button></a>
	</div>
</h2>

	</body>
</html>
